main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 95vh;
  justify-content: center;
  align-items: center;
}

#calendar {
  width: 100%;
  aspect-ratio: 1.2;
  background-color: #f9fafb;
  border: 0.3px solid #0a84ff;
  border-radius: 12px;
  padding: 10px;
}

#year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
  font-weight: 600;
  size: 16px;
  line-height: 24px;
  letter-spacing: 0.5%;
  padding: 0px 3%;
}

#day-list {
  display: grid;
  width: 100%;
  height: 15%;
  gap: 5%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25%;
}

#date-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5%;
  width: 100%;
  height: 70%;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25%;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 50%;
  translate: 0 -30%;
}
